<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8"/>

  <title>Réservation Golf</title>

  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='img/golf-icon.png') }}">

  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  <!-- <link href="{{ url_for('static', path='/output.css') }}" rel="stylesheet"> -->

</head>
<body class="bg-neutral-100">
    
    <!-- Navbar -->
    <nav class="bg-white px-2 sm:px-4 py-2.5 dark:bg-gray-900 opacity-90 fixed w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600">
    <div class="container flex flex-wrap items-center justify-between mx-auto">
    <a href="http://urgell.freeboxos.fr:32769/" target="_blank" class="flex items-center">
        <img src="{{ url_for('static', path='img/golf-icon.png') }}" class="h-6 mr-3 sm:h-9" alt="Flowbite Logo">
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Golf Booking App</span>
    </a>
    <div class="flex md:order-2">
        <button type="button" id="logout-button" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Déconnexion</button>
        <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
      </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a href="#hero" class="block py-2 pl-3 pr-4 text-xl text-white bg-emerald-700 rounded md:bg-transparent md:text-emerald-700 md:p-0 dark:text-white" aria-current="page">Home</a>
        </li>
        <li>
          <a href="#book" class="block py-2 pl-3 pr-4 text-xl text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-emerald-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Réserver</a>
        </li>
        <li>
          <a href="#mybooks" class="block scroll-auto py-2 pl-3 pr-4 text-xl text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-emerald-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Mes réservations</a>
        </li>
        <li>
          <a href="#credit" class="block py-2 pl-3 pr-4 text-xl text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-emerald-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Crédit</a>
        </li>
      </ul>
    </div>
    </div>
    </nav> 
    <!-- End Navbar -->

    <!-- Page de garde -->
    <section id="hero" class="scroll-smooth">
        <div class="bg-fixed bg-cover brightness-50 bg-[url({{url_for('static', path='img/parcours.jpg')}})] h-screen w-full"></div>
        <!-- <img src="{{ url_for('static', path='img/parcours.jpg') }}" alt="Parcours de golf" class="object-cover w-full h-screen brightness-50"> -->
        <div class="absolute w-full bottom-1/2">
            <h4 class="mb-3 text-5xl font-semibold tracking-tight text-white text-center">Golf Booking App</h4>
            <a href="#book">
                <img src="{{ url_for('static', path='img/golf-ball.svg') }}" class="mx-auto h-7 w-7 animate-bounce"/>
            </a>
        </div>
    </section>
    <!-- fin page de garde  -->

    <!-- Book Form -->
    <section id="book" class="scroll-smooth">
        <div class="w-full py-20 bg-emerald-900">
            <h1 class="text-white text-center text-4xl mb-6">Réserver un parcours</h1>

            <form id="book-form" method="post" action="/book" class="w-full bg-transparent rounded-lg text-white">
                <div class="grid gap-6 mb-6 md:grid-cols-2 px-20">

                    <!--Email-->
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-white">Adresse email</label>
                        <input
                        type="email"
                        class="form-control block w-full px-4 py-2 text-xl font-normal text-white bg-emerald-800 bg-clip-padding border border-solid border-gray-100 rounded transition ease-in-out m-0 focus:text-white focus:bg-emerald-700 focus:border-white focus:outline-none"
                        placeholder="Email de connexion"
                        id="email" name="email" required
                        />
                    </div>

                    <!--Password-->
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-white">Mot de passe</label>
                        <input
                        type="text"
                        class="form-control block w-full px-4 py-2 text-xl font-normal text-white bg-emerald-800 bg-clip-padding border border-solid border-gray-100 rounded transition ease-in-out m-0 focus:text-white focus:bg-emerald-700 focus:border-white focus:outline-none"
                        placeholder="Mot de passe"
                        id="password" name="password" required
                        />
                    </div>

                    <!--Golf-->
                    <div>
                        <label for="golf" class="block mb-2 text-sm font-medium text-white">Parcours</label>
                        <input
                        type="text"
                        class="form-control block w-full px-4 py-2 text-xl font-normal text-white bg-emerald-800 bg-clip-padding border border-solid border-gray-100 rounded transition ease-in-out m-0 focus:text-white focus:bg-emerald-700 focus:border-white focus:outline-none"
                        placeholder="Nom du parcours"
                        id="golf" name="golf" required
                        />
                    </div>

                    <!--Player_2-->
                    <div>
                        <label for="player_2" class="block mb-2 text-sm font-medium text-white">Joueur n°2</label>
                        <input
                        type="text"
                        class="form-control block w-full px-4 py-2 text-xl font-normal text-white bg-emerald-800 bg-clip-padding border border-solid border-gray-100 rounded transition ease-in-out m-0 focus:text-white focus:bg-emerald-700 focus:border-white focus:outline-none"
                        placeholder="Nom du joueur"
                        name="player_2" id="player_2"
                        />
                    </div>

                    <!--Player_3-->
                    <div>
                        <label for="player_3" class="block mb-2 text-sm font-medium text-white">Joueur n°3</label>
                        <input
                        type="text"
                        class="form-control block w-full px-4 py-2 text-xl font-normal text-white bg-emerald-800 bg-clip-padding border border-solid border-gray-100 rounded transition ease-in-out m-0 focus:text-white focus:bg-emerald-700 focus:border-white focus:outline-none"
                        placeholder="Nom du joueur"
                        name="player_3" id="player_3"
                        />
                    </div>

                    <!--Player_4-->
                    <div>
                        <label for="player_4" class="block mb-2 text-sm font-medium text-white">Joueur n°4</label>
                        <input
                        type="text"
                        class="form-control block w-full px-4 py-2 text-xl font-normal text-white bg-emerald-800 bg-clip-padding border border-solid border-gray-100 rounded transition ease-in-out m-0 focus:text-white focus:bg-emerald-700 focus:border-white focus:outline-none"
                        placeholder="Nom du joueur"
                        name="player_4" id="player_4"
                        />
                    </div>

                    <!--Date-->
                    <div>
                        <label for="date" class="block mb-2 text-sm font-medium text-white">Date du départ</label>
                        <input
                        type="date"
                        class="form-control block w-full px-4 py-2 text-xl font-normal text-white bg-emerald-800 bg-clip-padding border border-solid border-gray-100 rounded transition ease-in-out m-0 focus:text-white focus:bg-emerald-700 focus:border-white focus:outline-none"
                        id="date" name="date" required
                        />
                    </div>
                    
                    <!--Time start-->
                    <div>
                        <label for="time_start" class="block mb-2 text-sm font-medium text-white">Heure de départ minimale</label>
                        <input
                        type="time"
                        class="form-control block w-full px-4 py-2 text-xl font-normal text-white bg-emerald-800 bg-clip-padding border border-solid border-gray-100 rounded transition ease-in-out m-0 focus:text-white focus:bg-emerald-700 focus:border-white focus:outline-none"
                        id="time_start" name="time_start" 
                        />
                    </div>
                    
                    <!--Ideal Time-->
                    <div>
                        <label for="time" class="block mb-2 text-sm font-medium text-white">Heure de départ idéale</label>
                        <input
                        type="time"
                        class="form-control block w-full px-4 py-2 text-xl font-normal text-white bg-emerald-800 bg-clip-padding border border-solid border-gray-100 rounded transition ease-in-out m-0 focus:text-white focus:bg-emerald-700 focus:border-white focus:outline-none"
                        id="time" name="time" 
                        />
                    </div>

                    <!--Ideal Time-->
                    <div>
                        <label for="time_end" class="block mb-2 text-sm font-medium text-white">Heure de départ maximale</label>
                        <input
                        type="time"
                        class="form-control block w-full px-4 py-2 text-xl font-normal text-white bg-emerald-800 bg-clip-padding border border-solid border-gray-100 rounded transition ease-in-out m-0 focus:text-white focus:bg-emerald-700 focus:border-white focus:outline-none"
                        id="time_end" name="time_end" 
                        />
                    </div>

                </div>

                <div class="flex justify-center">
                    <div id="loading" hidden>
                        <div class="flex items-center" role="status">
                            <svg class="inline mr-2 w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-white" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                            </svg>
                            <span class="sr-only">Loading...</span>
                            <p class="text-white">Ajout de la réservation...  </p>
                        </div>
                    </div>
                    <div id="error-response" hidden></div>
                    <div id="succes-response" hidden>Votre réservation a bien était prise en compte ⛳️</div>
                </div>

                <div class="flex w-full content-center justify-center">
                    <input id="submit" type="submit" value="Réserver" class="w-3/5 inline-block px-6 py-2 border-2 border-white text-white font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out ">
                </div>

            </form>
        </div>
    </section>
    <!-- End Book Form -->

    <div class="bg-fixed bg-cover bg-[url({{url_for('static', path='img/start-course.jpg')}})] h-72 w-full brightness-50"></div>

    <!-- Book calendar -->
    <section id="mybooks" class="scroll-smooth">
        <div class="w-full py-20 px-10">
            <h1 class="text-emerald-900 text-center text-4xl mb-6">Mes réservations</h1>
            <div id="credit-div">
                <h1 id="credit-number"></h1>
                <div class="flex items-center">
                    <svg id="credit-enought" hidden class="w-4 h-4 mr-1.5 text-green-500 dark:text-green-400 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                    <svg id="credit-not-enought" hidden class="w-4 h-4 mr-1.5 text-gray-400 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"></path></svg>
                    <p id="credit-required" class="text-sm text-gray-600"></p>
                </div>
            </div>
            <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
                <table id="book-table" class="w-full text-sm text-center text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-white uppercase bg-emerald-900 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="py-3 px-6">
                                Parcours
                            </th>
                            <th scope="col" class="py-3 px-6">
                                Email
                            </th>
                            <th scope="col" class="py-3 px-6">
                                MDP
                            </th>
                            <th scope="col" class="py-3 px-6">
                                Date
                            </th>
                            <th scope="col" class="py-3 px-6">
                                Min
                            </th>
                            <th scope="col" class="py-3 px-6">
                                Idéale
                            </th>
                            <th scope="col" class="py-3 px-6">
                                Max
                            </th>
                            <th scope="col" class="py-3 px-6">
                                Joueur 2
                            </th>
                            <th scope="col" class="py-3 px-6">
                                Joueur 3
                            </th>
                            <th scope="col" class="py-3 px-6">
                                Joueur 4
                            </th>
                            <th scope="col" class="py-3 px-6">
                                Supprimer
                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-white">
                        <!-- <tr class="bg-emerald-700 border-b border-gray-100 dark:bg-gray-800 dark:border-gray-700">
                            <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                Apple MacBook Pro 17"
                            </th>
                            <td class="py-4 px-6">
                                Sliver
                            </td>
                            <td class="py-4 px-6">
                                Laptop
                            </td>
                            <td class="py-4 px-6">
                                $2999
                            </td>
                            <td class="py-4 px-6">
                                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            </td>
                        </tr>
                        <tr class="bg-emerald-700 border-b dark:bg-gray-800 dark:border-gray-700">
                            <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                Microsoft Surface Pro
                            </th>
                            <td class="py-4 px-6">
                                White
                            </td>
                            <td class="py-4 px-6">
                                Laptop PC
                            </td>
                            <td class="py-4 px-6">
                                $1999
                            </td>
                            <td class="py-4 px-6">
                                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            </td>
                        </tr>
                        <tr class="bg-white dark:bg-gray-800">
                            <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                Magic Mouse 2
                            </th>
                            <td class="py-4 px-6">
                                Black
                            </td>
                            <td class="py-4 px-6">
                                Accessories
                            </td>
                            <td class="py-4 px-6">
                                $99
                            </td>
                            <td class="py-4 px-6">
                                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </div>                
        </div>
    </section>
    <!-- End Book Form -->

    <div class="bg-fixed bg-cover bg-[url({{url_for('static', path='img/golf-cart.jpg')}})] h-72 w-full brightness-50"></div>

    <!-- Reload credits -->
    <section id="credit" class="scroll-smooth">
        <div class="w-full py-20 bg-emerald-900">
            <h1 class="text-white text-center text-4xl mb-6">Recharger ses crédits</h1>

            <form id="credit-form" method="post" action="/credit" class="w-full bg-transparent rounded-lg text-white">
                <div class="grid gap-6 mb-6 md:grid-cols-2 px-20">

                    <!--Number-->
                    <div>
                        <label for="credit-ask" class="block mb-2 text-sm font-medium text-white">Crédit</label>
                        <input
                        type="number"
                        class="form-control block w-full px-4 py-2 text-xl font-normal text-white bg-emerald-800 bg-clip-padding border border-solid border-gray-100 rounded transition ease-in-out m-0 focus:text-white focus:bg-emerald-700 focus:border-white focus:outline-none"
                        placeholder="Crédit"
                        min="1"
                        id="credit-ask" name="credit" required
                        />
                    </div>

                    <div class="flex content-end pt-7">
                        <input id="submit" type="submit" value="Créditer" class="block w-full px-6 py-2 border-2 border-white text-white font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out ">
                    </div>

                </div> 
                <div class="flex justify-center">
                    <div id="loading" hidden>
                        <div class="flex items-center" role="status">
                            <svg class="inline mr-2 w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-white" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                            </svg>
                            <span class="sr-only">Loading...</span>
                            <p class="text-white">Ajout des credits...</p>
                        </div>
                    </div>
                    <div id="error-response" hidden></div>
                    <div id="succes-response" hidden >Votre compte a été crédité ⛳️</div>
                </div>
            </form>
        </div>
    </section>
    <!-- End Reload credits -->

  <footer class="bg-gray-200 text-center lg:text-left">
    <div class="text-gray-700 text-center p-4">
      © 2022 Copyright:
      <a class="text-gray-800" href="https://github.com/BaptisteUrgell">Baptiste URGELL</a>
    </div>
  </footer>

</body>
<script src="{{ url_for('static', path='js/main.js') }}"></script>
</html>